@charset "UTF-8";

/* font */
@import url(fonts.css);
@import url(swiper-bundle.min.css);
@import url(swiper.min.css);
@import url(simple-scrollbar.css);
@import url(all.css);

/* Reset css */
html { height:100%; color:#333;}
body,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,th,td,form,fieldset,legend,input,textarea,button,select{ margin:0; padding:0;}
body{font-family: 'Noto Sans KR', 'Apple SD Gothic Neo', '돋움', '굴림', Verdana, Arial, sans-serif; font-weight:400; margin:0; padding:0; line-height:1.4; letter-spacing:0; font-size: 16px; color:#000;}
input, textarea, select, button, table{font-family: 'Noto Sans KR', Arial, sans-serif;}
table{border-collapse:collapse; border-spacing:0; clear:both; table-layout:fixed;}
img,fieldset{ border:0}
ul,ol{ list-style:none} 
em,address{ font-style:normal}
a{color:inherit;text-decoration:none; cursor: pointer;}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video{ margin:0; padding:0; border:0; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section{ display:block;}
body{ -webkit-text-size-adjust:none; }
ol, ul{ list-style:none;}
blockquote, q{ quotes:none;}
blockquote:before, blockquote:after,
q:before, q:after{ content:''; content:none; }
table{ width:100%; border-collapse:collapse; border-spacing:0; }
img{ border:0; max-width:100%; height:auto; }
iframe,
embed,
object,
video {max-width:100%;}
i, 
cite, 
em, 
var, 
address, 
dfn { font-style:normal;}

/* 모든 inline요소 탭이동 및 포커스 표시 안되게 */ 
*{ outline:none; }

.blind,
legend{ position:absolute; left:0; top:0; width:1px; height:1px; font-size:0; line-height:0; }
caption{ display:none;}

* {  -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box; }
*:before,
*:after{  -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box;}

button{ border:0 none; background:none; cursor:pointer;}

a{ -webkit-transition: all 0.2s ease-in-out;-moz-transition: all 0.1s ease-in-out;-ms-transition: all 0.2s ease-in-out;-o-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out; }



/**** style-common *****/
.clearfix:after{content:''; display:block; clear:both;}

/*** Form ***/
fieldset{border:0}
input,
textarea{ border:#d5d5d5 1px solid; padding:10px 10px; font-size:16px; border-radius:0; -webkit-border-radius:0; font-family: 'Noto Sans KR', Arial, sans-serif;}
input[type=text],
input[type=submit],
input[type=password],
input[type=file]{ height:45px; line-height:45px; padding:0 10px; font-size:16px; margin:0; background:#fff; border-radius:0; border:#d5d5d5 1px solid; box-shadow:none; -webkit-appearance:none; ime-mode:inactive; outline:none;}
input[type=text]:focus,
input[type=password]:focus{ border-color:#00a8fc;}
input[type=image]{border:none;background:none;}
input.datepicker{ width:115px;}
input[type=file],
input[type=file].input{ border:none; box-shadow:none;}
textarea{resize: none;}
textarea.block,
input.block{ display:block; width:100%; }
input.monthpicker,
input.datepicker,
input.datetimepicker{ background:#fff url('../images/blt_calendar.png') 100% 50% no-repeat; font-family: 'Noto Sans KR'; font-size: 16px;  cursor:pointer;}
input.input.sm{ height:20px; line-height:18px;}
input:read-only{ background-color:#f0f0f0; color:#333;}
input.readonly{background-color: #f0f0f0; color:#333;}
textarea.readonly{background-color: #f0f0f0; color:#333;}
textarea.survey{background-color:#fafafa;}
pre{font-size:13px; font-family: 'Noto Sans KR', Arial, sans-serif; white-space: pre-wrap;}

:-ms-input-placeholder{color:#8b8b8b; line-height:30px; vertical-align:middle; }
::-moz-placeholder{color:#8b8b8b; line-height:30px; vertical-align:middle; }
:-moz-placeholder{color:#8b8b8b; line-height:30px; vertical-align:middle; }
::-webkit-input-placeholder{ color:#8b8b8b; vertical-align:middle; font-weight:normal; }

input[type=text]::-ms-clear{display:none;}

/* url('@/assets/images/common/select.png') */
select{padding: 5px 35px 5px 10px; border:1px solid #d5d5d5; min-width:114px; height:45px; background: #fff no-repeat right; border-radius:0; -webkit-appearance: none; -moz-appearance: none; -o-appearance: none; appearance:none; background-image:none\0/IE8+9; overflow:hidden; line-height:1\0/IE8+9; font-family:'Noto Sans KR'; font-size: 16px;  color: #8b8b8b;}
select::-ms-expand { display: none;  }

textarea.block,
input.block,
select.block{ width:100% !important;}

input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder{
	color:transparent;
}

input:focus::-moz-placeholder,
textarea:focus::-moz-placeholder{
	color:transparent;
}

input:focus::-ms-input-placeholder,
textarea:focus::-ms-input-placeholder{
	color:transparent;
}

::selection{background:rgba(0,0,0,0.3); color:#fff;text-shadow:none}

select:disabled,
textarea:disabled,
input:disabled{background-color:#f0f0f0; cursor:default;}


/*** label ***/
input[type=checkbox], input[type=radio]{position:absolute; overflow:hidden; width:1px; height:1px; text-indent:-10000px; -ms-appearance:none; -webkit-appearance:none; -moz-appearance:none; appearance:none;opacity:0 !important;}
input[type=checkbox] + label::before{ content:""; display:inline-block; width:18px; height:18px; margin-right:7px; border:solid 1px #D5D5D5; vertical-align:-4px; background-color:#fff;}
input[type=checkbox]:checked + label::before{border:solid 1px #333; background:#333;}
input[type=checkbox]:checked + label::after{ content: ''; transform: rotate(-45deg); height: 7px; width: 10px; border-bottom: #fff 2px solid; border-left: #fff 2px solid; position: absolute; top: 8px; left:4px;}

input[type=radio] + label::before{content:""; display:inline-block; width:18px; height:18px; margin-right:7px; border:solid 1px #b1b1b1; vertical-align:-3px; background-color:#fff;border-radius:50%;}
input[type=radio]:checked + label:before{content:''; display:inline-block; background:url(../images/common/radio.png) center no-repeat; border:#333 1px solid;}

input[type=radio], input[type=checkbox]{margin-right:4px;}
input[type=radio] + label,
input[type=checkbox] + label{position:relative; margin-bottom:0; margin-right:30px; vertical-align: middle; font-size:16px; color:#000;}

/* margin, padding */
.mg0{margin:0 !important;}
.mt-1{ margin-top: -1px !important;}
.mt0{ margin-top:0 !important;}
.mt5{ margin-top:5px !important;}
.mt10{ margin-top:10px !important;}
.mt15{ margin-top:15px !important;}
.mt20{ margin-top:20px !important;}
.mt30{ margin-top:30px !important;}
.mt40{ margin-top:40px !important;}
.mt50{margin-top:50px !important;}
.mt60{margin-top:60px !important;}
.mt70{ margin-top:70px !important;}
.mt100{ margin-top:100px !important;}
.ml5{ margin-left:5px !important;}
.ml10{ margin-left:10px !important;}
.ml20{ margin-left:20px !important;}
.ml30{ margin-left:30px !important;}
.mr0{margin-right:0 !important;}
.mr5{margin-right:5px !important;}
.mr10{ margin-right:10px !important;}
.mr30{ margin-right:30px !important;}
.mb0{margin-bottom:0 !important;}
.mb5{margin-bottom:5px !important;}
.mb10{margin-bottom:10px !important;}
.mb20{margin-bottom:20px !important;}
.mb30{margin-bottom:30px !important;}
.mb40{margin-bottom:40px !important;}
.mb45{margin-bottom:45px !important;}
.pd0{padding:0 !important}
.pt0{ padding-top:0 !important;}
.pt3{ padding-top:3px !important;}
.pr50{ padding-right:50px !important;}
.pb0{ padding-bottom:0 !important;}
.pb3{ padding-bottom:3px !important;}
.pb10{ padding-bottom:10px !important;}
.pb15{ padding-bottom:15px !important;}
.pb25{ padding-bottom:25px !important;}
.pl0{ padding-left:0 !important;}
.pl5{ padding-left:5px !important;}
.pl10{ padding-left:10px !important;}
.pl15{ padding-left:15px !important;}
.pl40{ padding-left:40px !important;}
.pl75{ padding-left:75px !important;}
.pl80{ padding-left:80px !important;}
.pr0{ padding-right:0 !important;}
.pr10{ padding-right:10px !important;}
.pr15{ padding-right:15px !important;}

/* 정렬 */
.l{text-align:left !important;}
.c{text-align:center !important;}
.r{text-align:right !important;}
.vt{vertical-align:top !important;}
.vm{vertical-align:middle !important;}
.vb{vertical-align: bottom !important;}
.fr{float:right;}
.fl{float:left;}

.dv_grp{display:flex;}
.dv_grp > .dv{flex:1;}
.dv_grp > .dvn{flex:none;}
.dv_grp .dv + .dv, .dv_grp .dv + .dvn, .dv_grp .dvn + .dv, .dv_grp .dvn + .dvn, .dv_grp .dv_bx + .dv_bx {margin-left: 16px;}

/* color */
.cRed{color:#ff0000 !important}
.cPink{color:#ea5069 !important;}
.cBlue{color:#1d42bc !important}
.cBlue02{color:#1441ff !important;}
.cBlue03{color:#0b43ff !important;}
.cGreen{color:#22a578 !important;}
.cWhite{color:#fff !important;}
.cPurple{color:#e30bff !important;}
.cGray{color:#b5b5b5 !important;}
.cBlack{color:#000 !important;}
.cSky{color:#1275c9 !important;}

/* font-weight */
.fw500{font-weight:500;}
.fMont{font-family: 'Montserrat';}
.fPopp{font-family: 'Poppins';}

/* btn class */
.btn-bx{margin-top:20px; font-size:0;}
.btn-bx > *+* {margin-left:10px;}
.block{width:100% !important;}

.btn{display: inline-block; min-width: 80px; height: 45px; padding:0 20px; line-height: 45px; text-align: center; background-color: #000; color: #fff; font-size: 16px; font-weight: 500; transition: .3s;}
.btn:hover{border-color:#3c66db; background-color:#3c66db;}
.btn1{display: inline-block; min-width: 80px; height: 45px; padding:0 20px; line-height: 45px; text-align: center; border-radius: 3px; border: solid 1px #000; background-color: #000; color: #fff; font-size: 16px; font-weight: 500; transition: .3s;}
.btn1:hover{border-color:#3c66db; background-color:#3c66db;}
.btn2{display: inline-block; min-width: 75px; height: 40px; line-height: 38px; padding:0 20px; text-align: center; border-radius: 3px; border: solid 1px #000; background-color: #000; font-size: 16px; font-weight: 500; color: #fff; transition: .3s;}
.btn2:hover{border-color:#3c66db; background-color:#3c66db;}
.btn3{display: inline-block; min-width: 160px; height:54px; line-height: 50px;  padding:0 20px; text-align: center; border-radius: 3px; border: solid 1px #000; background-color: #000; font-size: 16px; font-weight: 500; color: #fff; transition: .3s;}
.btn4{display: inline-block; min-width: 100px; height: 30px; padding:0 20px; line-height: 28px; text-align: center;  border-radius: 3px; background-color: #000; color: #fff; font-size: 14px; font-weight: 500; transition: .3s;}
.btn5{display: inline-block; min-width: 80px; height: 40px; padding:0 20px; line-height: 38px; text-align: center; background-color: #000; color: #fff; font-size: 16px; font-weight: 500; transition: .3s;}

.btn-radius{display: inline-block; min-width:80px; height:45px; padding:0 20px; line-height: 43px; text-align: center; border-radius:50px; background-color: #000; color: #fff; font-size:15px; font-weight:400; transition: .3s;}
.btn-radius2{display: inline-block; min-width:120px; height:30px; padding:0 20px; line-height: 30px; text-align: center; border-radius:50px; background-color: #000; color: #fff; font-size:15px; font-weight:400; transition: .3s;}

.btn i, .btn1 i, .btn2 i,.btn3 i,.btn4 i,.btn5 i{vertical-align: 2px; font-size:12px;}


.btn-white{border:1px solid #000; background-color:#fff; color:#000; transition: .3s;}
.btn-white:hover{border-color:#000; background-color:#000; color:#fff;}
.btn-blue{border:1px solid #3c66db; background-color: #3c66db; color:#fff;}
.btn-blue2{border:1px solid #2168d9; background-color: #2168d9; color:#fff;}
.btn-brown{border:1px solid #c77300; background-color:#c77300; color:#fff;}
.btn-black{border:1px solid #333; background-color:#333; color:#fff;}
.btn-mint{border:1px solid #1a9b96; background-color:#1a9b96; color:#fff;}
.btn-gray{border:1px solid #6f6f6f; background-color: #6f6f6f; color:#fff;}
.btn-gray2{border:1px solid #b9b9b9; background-color:#dedede; color:#000;}
.btn-gray2:hover{border-color:#333; background-color: #333; color:#fff;}
.btn-gray3{border:1px solid #000; background-color:#d3d3d3; color:#000;}
.btn-pink{border:1px solid #ea5069; background-color:#fff; color:#ea5069;}
.btn-pink:hover{border-color:#ea5069; background-color: #ea5069; color:#fff;}
.btn-pink2{border:1px solid #ea5069; background-color:#ea5069; color:#fff;}
.btn-pink2:hover{border-color:#77343f; background-color: #77343f;}
.btn-red{border:1px solid #d11919; background-color: #d11919; color:#fff;}
.btn-green{border:1px solid #596a39; background-color: #596a39; color:#fff;}
.btn-green:hover{border-color:#45522d; background-color:#45522d;}

/* 22-06-30 추가 */
/* bootstrap reset */
button:focus {outline: 0px none; outline: 0px none -webkit-focus-ring-color;}
a:hover{text-decoration: none;}